/*
 * Jakub Rychlý - oficiální portfolio
 * Copyright 2017 Jakub Rychlý
 * GitHub (https://github.com/jrychly/jakubrychly.cz)
 */

/* FONTS */
 @import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400|Raleway:400,700&subset=latin-ext");

/* COL system */

@media only screen and (min-width: 994px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

* {
    box-sizing: border-box;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding-right: 15px;
}

@media only screen and (max-width: 994px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .panel {
        margin-top: 15px;
    }

    .text-profile {
        padding-top: 15px;
    }

    .ender-item {
    margin-top: 15px;
    }
}

/* VŠEOBECNÁ DEFINICE */

body {
	margin: 0 auto;
	font-family: 'Comfortaa';
}

.container {
	margin: 35px;
}

img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

a {
    color: #FFFFFF;
}

/* PROFILE */

.profile {
    background: #2ECC71;
    padding: 20px;
    border-radius: 40px;
    border: 15px solid #27AE60;
}

.nadpis-profile {
    text-align: center;
}

/* FOOTER */

.footer {
	background-color: #2C3E50;
	color: #FFFFFF;
	text-align: center;
	padding: 30px;
}

.ender {
    padding: 50px;
    background-color: #34495E;
    color: #FFFFFF;
    text-align: center;
}

/* OBRÁZKY */

.img-profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

/* PANEL */

.panel {
    max-width: 300px;
    border: 1px solid #d4d9db;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.panel-heading {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 8px;
    border-radius: 10px;
}

.dovednosti {
    padding-bottom: 25px;
}

.dovednost {
    margin-bottom: 25px;
}

.panel-blue {
    background: #2980B9;
}

.panel-green {
    background: #27AE60;
}

.panel-red {
    background: #ce3e2f;
}

/* FORMÁTOVÁNÍ */ 

.text-center {
    text-align: center;
}

.text-upper {
	text-transform: uppercase;
}

.text-red {
    color: #E74C3C;
}

.text-blue {
    color: #3498DB;
}

.text-green {
    color: #2ECC71;
}

.text-facebook {
    color: #3b5998;
}

.text-twitter {
    color: #55acee;
}

.text-instagram {
    color: #406e94;
}

.text-linkedin {
    color: #007bb6;
}

.text-github {
    color: #000000;
}

.footer-link {
	color: #FFFFFF;
}

.col-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.social-icons {
    padding-top: 15px;
    text-align: center;
}

/* NADPISY */

.h2-profile {
    color: #ECF0F1;
}

.h2-form {
    color: #ECF0F1;
    margin-top: -7px;
}

.h1-header {
    font-size: 70px;
}

/* BUTTONS */

.btn {
    padding: 11.5px;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-right {
    float: right;
}

.btn-form {
    background-color: #007bb6;
    float: right;
}

/* INVISIBLE BUTTONS */

.btn-inverse {
    border: 2px solid #34495E;
    color: #34495E;
    font-weight: bold;
}

.btn-inverse:hover {
    background: #34495E;
    color: white;
    font-weight: normal;
}

.btn-green {
    border: 2px solid #2ECC71;
    color: #2ECC71;
    font-weight: bold;
}

.btn-green:hover {
    background: #2ECC71;
    color: white;
    font-weight: normal;
}

.btn-red {
    border: 2px solid #E74C3C;
    color: #E74C3C;
    font-weight: bold;
}

.btn-red:hover {
    background: #E74C3C;
    color: white;
    font-weight: normal;
}

.btn-primary {
    border: 2px solid #3498DB;
    color: #3498DB;
    font-weight: bold;
}

.btn-primary:hover {
    background: #3498DB;
    color: white;
    font-weight: normal;
}

/* NORMAL BUTTONS */

.btn-info {
    background-color: #3498DB;
}

.btn-info:hover {
    background-color: #2980B9;
}

.btn-dark {
    background-color: #2C3E50;
}

/* INPUT and TEXTAREA */

input[type="text"] {
    appearance: none;
    width: 100%;
    margin: 0 15px;
    height: 35px;
    padding: 25px;
    border-radius: 10px;
    outline: none;
    border: solid 3.5px #2C3E50;
    color: #2C3E50;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Comfortaa';
}

textarea {
    appearance: none;
    width: 100%;
    margin: 0 15px;
    padding: 25px;
    border-radius: 10px;
    outline: none;
    border: solid 3.5px #2C3E50;
    color: #2C3E50;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Comfortaa';
    resize: none;
}

/* FORMS */

.form {
    padding: 25px;
    background-color: #34495E;
    border: solid 15px #2C3E50; 
    border-radius: 40px;
}

.form-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.text-form {
    color: #ECF0F1;
    font-size: 22px;
    margin-bottom: -5px;
}

.nadpis-right {
    text-align: center;
}

.nadpis-left {
    text-align: center;
}

/* HEADER */

.header {
    background-color: #3498DB;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 25vh;
    height: 100vh;
    color: #ECF0F1;
    text-align: center;
}